<div class="header">
    <div class="content">
        <!-- <p class="logo brandon">Mister POMPADOUR</p> -->
        <p class="logo brandon"><span style="font-family:Niagrsol;">Mister </span> <span style="font-family:Niageng;">Pompadour</span></p>
        
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">
        <div class="mammoth">
            <span class="need brandon">friends dont let friends<br>have bad hair.</span>
        </div>
        <div class="share-wrap">
            <p class="why brandon">Don't leave your friends behind</p>
            <p class="title brandon">INVITE FRIENDS &<br>Earn <span style="font-weight: bolder;">FREE</span> Product</p>
            <p class="subtitle brandon">Share your unique referral link via email, Facebook <br>or Twitter and earn <span style="font-weight: bolder;font-size: 16px;">FREE</span> Mister Pompadour products <br>for each friend who signs up.<br><br>
                <span class="countdown" id="defaultCountdown1">
                    Only XX Days XX Hrs Left...Let the Sharing Begin!
                </span>
            </p>
            
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#MisterPompadour #looksharpbeconfident Excited for @mistrpompadour new website launch." %>
            <%
                title = CGI::escape('Mister Pompadour');
                url = CGI::escape(root_url);
                summary = CGI::escape('Custom message that summarizes what your tab is about, or just a simple message to tell people to check out your tab.');
                image = CGI::escape(root_url + '/assets/refer/logo-fb69ee306dd1e2eb28dd2e5c9e0c103d.jpg');
                referral_code = CGI::escape(@user.referral_code);

            %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&p[title]=<%= title %> &p[images][0]=<%= image %>" class="fb" target="_blank"></a>

                <!-- <a href="https://www.facebook.com/dialog/share?
                  app_id=145634995501895
                  &display=popup
                  &href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F
                  &redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" class="fb" target="_blank">
                </a> -->



                
                <!-- <a href="http://www.facebook.com/sharer/sharer.php?u=<%= url %>?ref=<%= referral_code %>&p[title]=<%= title %> &p[images][0]=<%= image %>" class="fb" target="_blank"></a> -->

                <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div> -->

                <!-- <a class="fb" target="_blank" href="javascript:share_facebook();"></a> -->


                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   

    
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">FREE PRODUCT<br>EARNED</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <!-- <img src="<%= stop["image"] %>" height="254"> -->
                        <img src="<%= stop["image"] %>" height="200">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'Friend has'
            elsif 
                words = 'Friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span style="font-weight:bold">No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span style="font-weight:bold"><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

        <p class="ship brandon">We ship to the US, Canada, and anywhere Worldwide</p>        
        
    </div>
</div>

